{% extends "frontBundle::principal.html.twig" %}

{% block headPerso %}
    <link rel="stylesheet" href="{{ asset('bundles/front/ivandry/css/colorbox.css') }}" />
	
    <style>
        #cboxLoadedContent{ overflow-y: hidden; }
        #inline_content hr{ border-top-color: rgba(0,0,0,0.2); }
        #inline_content h2{ color: inherit; }
        #cboxContent .mCSB_scrollTools{ margin-right: 5px; }
    </style>
{% endblock %}

{% block body %}
    <!-- DIV HAUT -->
    <div class="allign">
        <div class="fampianarana_alahady"> 
	    <div class="row">		
            <div class="col-lg-12">            
		        <!-- Fil d'ariane -->
                <div class="row">
				<div class="fil_ariane">
                    <div class="row"><div class="col-lg-12">
                    <span class="petit_gras">Tongasoa > </span><span class="ariane">Rafitra</span>
                    </div></div>
                </div>
				</div>
                <!-- fin fil d'ariane -->

                <!-- titre alahady -->
                <div class="row">
                    <t3>BIRAOM-PIANGONANA</t3>
                </div>
                <div><p class="descr">
                        {{ biraoFiangonana.description }}
                    </p></div>
                <!-- fin titre alahady -->
                
                <!-- topic fampianarana -->
                <!-- ligne 1 -->
                <div class="row">
                    {% if biraoFiangonanaM.filoha is not null %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img src="{{ biraoFiangonanaM.filoha.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">FILOHA</span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.filoha.nom }} {{ biraoFiangonanaM.filoha.prenom }}</p> 
                            </div> 
                        </div>
                    {% else %}
                    {% endif%}        
                    
                    {% if biraoFiangonanaM.filohaLefitra is not null %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.filohaLefitra.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">FILOHA LEFITRA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.filohaLefitra.nom }} {{ biraoFiangonanaM.filohaLefitra.prenom }}</p> 
                            </div>
                        </div>
                    {% else %}
                    {% endif%}
                    
                    {% if biraoFiangonanaM.filohaLefitra2 is not null %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                <{#a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.filohaLefitra2.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">FILOHA LEFITRA FAHAROA</span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.filohaLefitra2.nom }} {{ biraoFiangonanaM.filohaLefitra2.prenom }}</p> 
                            </div>
                        </div>
                    {% else %}
                    {% endif%}

                    {% if biraoFiangonanaM.mpitanTsoratra is not null %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.mpitanTsoratra.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">MPITAN-TSORATRA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.mpitanTsoratra.nom }} {{ biraoFiangonanaM.mpitanTsoratra.prenom }}</p> 
                            </div>            
                        </div>
                    {% else %}
                    {% endif%}
                        
                    
                    {% if biraoFiangonanaM.mpitahiryVola is not null %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.mpitahiryVola.photo }}" width="100%" /><{#/a>#}
                                <p></p>
                                <span class="ariane2">MPITAHIRY VOLA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.mpitahiryVola.nom }} {{ biraoFiangonanaM.mpitahiryVola.prenom }}</p> 
                            </div>            
                        </div>
                    {% else %}
                    {% endif%}

                    {% if biraoFiangonanaM.mpitanTsoratraVola is not null %}
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.mpitanTsoratraVola.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">MPITAN-TSORATRY NY VOLA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.mpitanTsoratraVola.nom }} {{ biraoFiangonanaM.mpitanTsoratraVola.prenom }}</p> 
                            </div>  
                        </div>
                    {% else %}
                    {% endif%}

                    {% if biraoFiangonanaM.mpanoloTsaina is not null %}
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.mpanoloTsaina.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">MPANOLON-TSAINA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.mpanoloTsaina.nom }} {{ biraoFiangonanaM.mpanoloTsaina.prenom }}</p> 
                            </div>            
                        </div>
                    {% else %}
                    {% endif%}

                    {% if biraoFiangonanaM.mpanoloTsaina2 is not null %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.mpanoloTsaina2.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">MPANOLON-TSAINA FAHAROA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.mpanoloTsaina2.nom }} {{ biraoFiangonanaM.mpanoloTsaina2.prenom }}</p> 
                            </div>            
                        </div>
                    {% else %}
                    {% endif%}
                    
                    {% if biraoFiangonanaM.mpanoloTsaina3 is not null %}
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.mpanoloTsaina3.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">MPANOLON-TSAINA FAHATELO </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.mpanoloTsaina3.nom }} {{ biraoFiangonanaM.mpanoloTsaina3.prenom }}</p> 
                            </div>            
                        </div>
                    {% else %}
                    {% endif%}

                    {% if biraoFiangonanaM.mpiandraikitra is not null %}
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.mpiandraikitra.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">MPIANDRAIKITRA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.mpiandraikitra.nom }} {{ biraoFiangonanaM.mpiandraikitra.prenom }}</p> 
                            </div>
                        </div>
                    {% else %}
                    {% endif%}
                    
                    {% if biraoFiangonanaM.mpiandraikitra2 is not null %}
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.mpiandraikitra2.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">MPIANDRAIKITRA FAHAROA</span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.mpiandraikitra2.nom }} {{ biraoFiangonanaM.mpiandraikitra2.prenom }}</p> 
                            </div>
                        </div>
                    {% else %}
                    {% endif%}
                    
                    {% if biraoFiangonanaM.teknisiana is not null %}
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.teknisiana.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">TEKNISIANA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.teknisiana.nom }} {{ biraoFiangonanaM.teknisiana.prenom }}</p> 
                            </div>
                        </div>
                    {% else %}
                    {% endif%}
                    
                    {% if biraoFiangonanaM.teknisiana2 is not null %}
                         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                            <div class="rafitra_bloc">
                                {#<a href="#">#}<img style="height: 165px; width: 260px" src="{{ biraoFiangonanaM.teknisiana2.photo }}" width="100%" />{#</a>#}
                                <p></p>
                                <span class="ariane2">TEKNISIANA FAHAROA </span>
                                <p class="nom_rafitra">{{ biraoFiangonanaM.teknisiana2.nom }} {{ biraoFiangonanaM.teknisiana2.prenom }}</p> 
                            </div>
                        </div>
                    {% else %}
                    {% endif%}
                    
                </div>         
            </div><!-- fin topic fampianarana -->
                   
	    </div>
	</div>
	<!-- FIN DIV HAUT -->
    </div>
    <!-- DIV MENU AU MILIEU -->

    <div class="row" id="sampana-page">
        <div class="head_banner2">
            <div class="allign">
                <div class="row"><t3b>{{ type }}</t3b></div>
        <!--MENU -->
                <div class="row">
                    <nav class="navbar2 navbar-default navbar-static">
                        <div class="navbar-header">
                            <div class="collapse navbar-collapse js-navbar-collapse" style="padding-left: 0px;">
                                <ul class="nav3 navbar-nav">
                                    {% for i in sampanas %}
                                        <li class="dropdown dropdown-large">
                                            <a class="dropdown-toggle" data-toggle="tab" href="#{{ i.id }}" onclick="return onglet.clickO('{{ i.id }}')">{{ i.sigle }}</a></li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div> 
                    </nav>
                </div>
<!-- fin menu -->
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="tab-content" id="tab-content">
            <!-- onglet 1-->
            {% for i in sampanas %}
                <div id="{{ i.id }}" class="tab-pane fade in active">
                    
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block JSPerso %}
    <script src="{{ asset('bundles/front/ivandry/js/holder.min.js') }}" charset="utf-8"></script>
    <script src="{{ asset('bundles/front/ivandry/js/jquery.colorbox-min.js') }}"></script>

    <script>
        onglet = {
            clickO: function(ongletName) 
            {
                var url = "{{ baseUrl }}/rafitra/sampana/";
                
                if ("{{ type }}" == "ZANA-TSAMPANA")
                {
                   url = "{{ baseUrl }}/rafitra/zana-tsampana/";
                }
               
                if ( $("#".concat(ongletName)).children().length <= 0 ) 
                {
                    $("#".concat(ongletName)).append("<br/><br/><br/><br/><br/><br/><br/><br/><div style='text-align: center'><img src='{{ baseUrl }}/web/images/ajax-loader.gif'></div><br/><br/><br/><br/><br/><br/><br/><br/>");
                    
                    $.get(url.concat(ongletName),function(data)
                    {
                        $("#".concat(ongletName)).html(data);
{#                        $(document).scrollTop( $("#sampana-page").offset().top );#}
                        colorBox();
                    });
                }
            }
        }

    </script>
    
    <script>
        function colorBox()
        {
            $(".inline").colorbox({
                    inline:true,
                    width:"80%",
                    height:"100%"
            });

            $("#cboxLoadedContent").mCustomScrollbar({
                    live:true,
                    theme:"inset-dark"
            });
        }
    </script>

{% endblock %}