{% extends "backBundle::principal.html.twig" %}

{% block title %}modal{% endblock %}

{% block body %}
    
        <div class="container">
            <!-- header row -->
            
            <div class="row">
                <div class="col-lg-2"></div>
                <label class="col-lg-1" for="titre">find : </label>
                <input class="col-lg-5" id="param" type="text" name="param"/>
                <button id="button" type="button">go</button>
            </div>
        </div>
    
    <table id="table" style="width:100%" border="1">
        
        <tr id="nonSelect" align="center">
            <th>Nom</th>
            <th>Prenom</th>
            <th>Photo</th>
        </tr>
        
        {% for personne in personnes %}
            <tr align="center" class="listPersonne">
                <td class="id" visibility: hidden>{{ personne.id }}</td>
                <td class="nom">{{ personne.nom }}</td>
                <td class="prenom">{{ personne.prenom }}</td>
                <td class="photo">{{ personne.photo }}</td>
            </tr>
        {% endfor%}
        
    </table>
    
    <button onClick="returnToParent()">valider</button>

{% endblock %}



{% block JSPerso %}
    
    <script>

        var varTest;

        function returnToParent()
        {
            var select = $(".selected");
            
{#            console.log(select.find(".lol").text());#}

            window.opener.callBack(select, varTest);
            window.close();
        }

        $(".listPersonne").click(function(){
            
            if ($(this).attr('id') != "nonSelect")
            {
                $(this).addClass('selected').siblings().removeClass('selected'); 
                $(this).siblings().css({"background" : "#FFFFFF"});
                $(this).css({"background" : "#00FF00"});
            }
        });

    </script>
    
    <script>
        
        $("button").click(function(){
            var val = $("#param").val();
            if (val != "")
            {
                replaceList($("#param").val());
            }
            else
            {
                replaceList("çééç");
            }
        });
        
        $("#param").keyup(function(event){
            if(event.keyCode == 13){
                var val = $("#param").val();
                if (val != "")
                {
                    replaceList($("#param").val());
                }
                else
                {
                    replaceList("çééç");
                }
            }
        });
        
        function replaceList(val)
        {
            $(".listPersonne").remove();
            
            var route = "{{ path('personne_find_modal', { 'name': "PLACEHOLDER" }) }}";
            var uri = route.replace("PLACEHOLDER", val);
            
            $.get(uri, function(data, status){
                
                var table = $("#table");
                var list = "";
                
                for (var p in data)
                {
                    list += '<tr align="center" class="listPersonne">';
                    list +=    '<td class="id" visibility: hidden>'+data[p].id+'</td>';
                    list +=    '<td class="nom">'+data[p].nom+'</td>';
                    list +=    '<td class="prenom">'+data[p].prenom+'</td>';
                    list +=    '<td class="photo">'+data[p].photo+'</td>';
                    list +='</tr>'
                }
                
                table.append(list);
                
                $(".listPersonne").click(function(){
                
                    if ($(this).attr('id') != "nonSelect")
                    {
                        $(this).addClass('selected').siblings().removeClass('selected'); 
                        $(this).siblings().css({"background" : "#FFFFFF"});
                        $(this).css({"background" : "#00FF00"});
                    }
                });
                
            });
        }
    </script>
    
{% endblock %}