{% extends "backBundle::principal.html.twig" %}

{% block title %} {{ type }} {% endblock %}

{% block headPerso %}
    <style type="text/css">
        th {
            text-align: center;
        }
        
    </style>

{% endblock %}

{% block body %}
    <a href="{{ path('info_add', { 'type' : type }) }}">Ajouter {{ type }}</a>
    </br>
    
    <table style="width:100%" border="1">
        
        <tr align="center">
            <th>Titre</th>
            <th>Texte</th>
            <th>Date</th>
        </tr>
        {% for info in infos %}
            <tr align="center">
                <td>{{ info.titre }}</td>
                <td>{{ info.texte }}</td>
                <td>{{ info.date|date('Y-m-d') }}</td>
                <td><a href="{{ path('info_delete', { 'type': type , 'id': info.id }) }}">Supprimer</a></td> 
                <td><a href="{{ path('info_update_view', { 'type' : type, 'id': info.id }) }}">Modifier</a></td>
            </tr>
        {% endfor%}
    </table>
    
    </br>
    

{% endblock %}
