{% extends "::base.html.twig" %}

{% block title %}backBundle:Info:index{% endblock %}

{% block body %}
<h1>Welcome to the Info:index page</h1>

    <table style="width:100%" border="1">
    {% for info in infos %}
        
        <tr>
            <td>{{ info.type.libelle }}</td>
            <td>{{ info.titre }}</td>
            <td>{{ info.texte }}</td>
            <td>{{ info.date|date('Y-m-d') }}</td>
            <td><a href="{{ path('info_delete', { 'id': info.id }) }}">Supprimer</a></td> 
            <td><a href="{{ path('info_update_view', { 'id': info.id }) }}">Modifier</a></td> 
        </tr>

    {% endfor%}
    </table>
        
    <br/>
    <br/>
    <a href="{{ path('info_add')}}">Ajouter fil d'info</a>

{% endblock %}
