
<html>
    <head>
        {% stylesheets output="css/compiled/dataTable.css" filter="cssrewrite"
            '@backBundle/Resources/public/css/jquery.dataTables.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    </head>
    
    <body>
        
        <div hidden>
            <div id="testAPI">{{ path('testAPI')}}</div>
        </div>
        
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>         
        </table>
        
        
        
        
        
        
        {% block javascript %}
            
            {% javascripts output="js/compiled/dataTable.js"
                "@backBundle/Resources/public/js/jquery.js"
                "@backBundle/Resources/public/js/jquery.dataTables.js"   
            %}
                <script src="{{ asset_url }}" charset="utf-8"></script>
            {% endjavascripts %}
            
            
            <script>
                $(document).ready( function () {
                    $('#example').DataTable( {
                        ajax: $("#testAPI").text(),
                        columns: [
                            { data: "type" },
                            { data: "titre" },
                            { data: "texte" },
                            { data: "date" },
                            {
                                mRender: function (data, type, row) {
                                    var route = "{{ path('info_update_view', { 'id': "PLACEHOLDER" }) }}";
                                    route = route.replace("PLACEHOLDER", row['id']);
                                    return '<a class="table-edit" href='+route+'>EDIT</a>'
                                }
                            },
                            {
                                mRender: function (data, type, row) {
                                    var route = "{{ path('info_delete', { 'id': "PLACEHOLDER" }) }}";
                                    route = route.replace("PLACEHOLDER", row['id']);
                                    return '<a class="table-edit" href='+route+'>DELETE</a>'
                                }
                            }
                        ]
                    } );
                } );
            </script>
            
        {% endblock %}
    </body>
    
</html>