{% extends "backBundle::principal.html.twig" %}

{% block title %}backBundle:Info:add{% endblock %}

{% block body %}
    <h1>Modifier info flash</h1>

    <form action="{{ path("info_update") }}" name="info" method="post">
        <div id="personne">
            
            <input type="hidden" name="info[id]" value={{ info.id }}>
            <div>
                <label for="info_titre" class="required">Titre</label>
                <input type="text" id="info_titre" name="info[titre]" required="required" maxlength="255" value={{ info.titre }}>
            </div>
            <div>
                <label for="info_text" class="required">Contenue</label>
                <textarea id="info_text" name="info[texte]" required="required" maxlength="255" >{{ info.texte }}</textarea>
            </div>
            <div>
                <label for="info_date" class="required">Date</label>
                <input type="date" id="info_date" name="info[date]" required="required" maxlength="255" value={{ info.date|date('Y-m-d') }}>
            </div>
            <div>
                <label for="info_type">Type</label>
                <select id="info_type" name="info[type_id]">
                    {% for type in types %}
                        {% if type.id == info.typeId %}
                            <option value = {{ type.id }} selected="selected">{{ type.libelle }}</option>
                        {% else %}
                            <option value = {{ type.id }} >{{ type.libelle }}</option>
                        {% endif %}
                        
                    {% endfor %}
                    
                </select>
            </div>
            
            

        </div>
        
        <input type="submit" value="save update">
        
    </form>

{% endblock %}
