{% extends "backBundle::principal.html.twig" %}

{% block title %} {{ type }} {% endblock %}

{% block headPerso %}
    <style type="text/css">
        th {
            text-align: center;
        }
        
    </style>

{% endblock %}

{% block body %}
    
    <a href="{{ path('article_add', { 'type' : type }) }}">Ajouter {{ type }}</a>
    </br>
    
    <table style="width:100%" border="1">
        
        <tr align="center">
            <th>Auteur</th>
            <th>Titre</th>
            <th>Date de publication</th>
            <th>Sokajin'Asa</th>
            <th>Zana-tsampana</th>
        </tr>
        {% for article in articles %}
            <tr align="center">
                <td>{{ article.auteur }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.date|date('Y-m-d') }}</td>
                {% if article.sokajinAsa != null %}
                    <td>{{ article.sokajinAsa.nom }}</td>
                {% else %}
                    <td>--aucune--</td>
                {% endif %}                
                {% if article.zanaTsampana != null %}
                    <td>{{ article.zanaTsampana.nom }}</td>
                {% else %}
                    <td>--aucune--</td>
                {% endif %}
                <td><a href="{{ path('article_delete', { 'type': type , 'id': article.id }) }}">Supprimer</a></td> 
                <td><a href="{{ path('article_update_view', { 'type' : type, 'id': article.id }) }}">Modifier</a></td>
                <td><a href="{{ path('article_show', { 'type' : type, 'id': article.id }) }}">afficher</a></td> 
            </tr>
        {% endfor%}
    </table>
    
    </br>
    
{% endblock %}
