{% extends "backBundle::principal.html.twig" %}

{% block title %} {{ type }} {% endblock %}

{% block body %}
    
    <a href="{{ path('article_add', { 'type' : type }) }}">Ajouter {{ type }}</a>
    </br>
    
    <table style="width:100%" border="1">
        
        <tr align="center">
            <th>Auteur</th>
            <th>Titre</th>
        </tr>
        {% for article in articles %}
            <tr align="center">
                <td>{{ article.titre }}</td>
                <td>{{ article.auteur }}</td>
                <td><a href="{{ path('article_delete', { 'type': type , 'id': article.id }) }}">Supprimer</a></td> 
                <td><a href="{{ path('article_update_view', { 'type' : type, 'id': article.id }) }}">Modifier</a></td> 
            </tr>
        {% endfor%}
    </table>
    
    </br>
    
{% endblock %}
