{% extends "backBundle::principal.html.twig" %}

{% block title %} {{ type }} {% endblock %}

{% block body %}
    <h1>{{ article.titre }} by {{ article.auteur }}</h1>
    <br/>
    <br/>
    
    {% autoescape %}
        {{ article.texte.contenu |raw }} {# var won't be escaped #}
    {% endautoescape %}
    
    <br/>
    <a href="{{ path('article_index', { 'type': type }) }}">back to list</a>
{% endblock %}
