{% extends "backBundle::principal.html.twig" %}

{% block title %} Album {% endblock %}

{% block headPerso %}
    <style type="text/css">
        th {
            text-align: center;
        }
        
    </style>

{% endblock %}

{% block body %}
    
    <a href="{{ path('album_add') }}">Ajouter Album</a>
{#    </br>#}
    
    <table style="width:100%" border="1">
        
        <tr align="center">
            <th>Titre</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        {% for album in albums %}
            <tr align="center">
                <td>{{ album.name }}</td>
                <td>{{ album.description }}</td>
                <td>{{ album.date|date('Y-m-d') }}</td>
                {#{% if article.sokajinAsa != null %}
                    <td>{{ article.sokajinAsa.nom }}</td>
                {% else %}
                    <td>--aucune--</td>
                {% endif %}                
                {% if article.zanaTsampana != null %}
                    <td>{{ article.zanaTsampana.nom }}</td>
                {% else %}
                    <td>--aucune--</td>
                {% endif %}#}
                <td><a href="{{ path('album_delete', { 'id': album.id }) }}">Supprimer</a></td> 
                <td><a href="{{ path('album_update_view', { 'id': album.id }) }}">Modifier</a></td>
                <td><a href="{{ path('album_show', { 'id': album.id }) }}">Afficher</a></td> 
            </tr>
        {% endfor%}
    </table>
    
    </br>
    
{% endblock %}
