{% extends "backBundle::principal.html.twig" %}

{% block title %}{{ type }}{% endblock %}

{% block headPerso %}
    <style type="text/css">
        th {
            text-align: center;
        }
        
    </style>

{% endblock %}

{% block body %}
    <a href="{{ path('sokajy_add', { 'type' : type }) }}">Ajouter {{ type }}</a>
    
    <table style="width:100%" border="1">
        
        <tr align="center">
            <th>Anarana</th>
            <th>Description</th>
            <th>Date creation</th>
        </tr>
        {% for sokajy in list %}
            <tr align="center">
                <td>{{ sokajy.nom }}</td>
                <td>{{ sokajy.description }}</td>
                <td>{{ sokajy.dateCreation|date('Y-m-d') }}</td>
                <td><a href="{{ path('sokajy_delete', { 'type': type , 'id': sokajy.id }) }}">Supprimer</a></td> 
                <td><a href="{{ path('sokajy_update_view', { 'type' : type, 'id': sokajy.id }) }}">Modifier</a></td> 
            </tr>
        {% endfor%}
    </table>
    
    </br>
    
    
{% endblock %} 