{# empty Twig template #}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Back Office site web FJKM Ivandry</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

{#    {% stylesheets output="css/compiled/backOffice.css" filter="cssrewrite"
            '@backBundle/Resources/public/bootstrap/css/bootstrap.min.css'
            '@backBundle/Resources/public/dist/css/font-awesome.min.css'
            '@backBundle/Resources/public/dist/css/ionicons.min.css'
            '@backBundle/Resources/public/dist/css/AdminLTE.min.css'
            '@backBundle/Resources/public/dist/css/skins/skin-blue.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}#}

    <link rel="stylesheet" href="{{ asset('css/compiled/backOffice.css') }}"/>
    
    <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>
    
    {% block headPerso %}
            

    {% endblock %}
    

  </head>
  

  <body class="hold-transition skin-blue sidebar-mini">
    
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>A</b>LT</span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><b>BACK</b>OFFICE</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
                </a>
                
                <!-- admin connecter -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <!-- The user image in the navbar-->
{#                              <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">#}
                              <!-- hidden-xs hides the username on small devices so only the image appears. -->
                              <span class="hidden-xs">Admin</span>
                            </a>
                            <ul class="dropdown-menu">
                              <!-- The user image in the menu -->
                              <li class="user-header">
{#                                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}
                                <p>
                                  Admin backOffice site web Ivandry Firaisana
                                  <small>2016</small>
                                </p>
                                <p>
                                    Nombre Visite : {{ visite.isa }}
                                </p>
                              </li>
                              <!-- Menu Footer-->
                              <li class="user-footer">
                                <div class="pull-right">
                                  <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                              </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            
            
            
{#            <a href="{{ path('fos_user_security_logout') }}">logout</a>#}
            
        </header>
        
      <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">HEADER</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Info</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('info_index', { 'type': 'fifandraisana' }) }}">Fifandraisana</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'lohahevitra' }) }}">Lohahevitra</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'vanimpotoana' }) }}">Vanim-potoana</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'zioga' }) }}">Zioga</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'fivoriana' }) }}">Fivoriana</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'filazanamanjo' }) }}">Filazana manjo</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'famangiana' }) }}">Famangiana</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'tatitra' }) }}">Tatitra</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'filazanasamihafa' }) }}">Filazana samihafa</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'perikopa' }) }}">Perikopa</a></li>
                            <li><a href="{{ path('info_index', { 'type': 'fandaharana' }) }}">Fandaharana</a></li>
                        </ul>
                    </li>
      
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Sokajin'Asa</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('sokajy_index', { 'type': 'sampana' }) }}">Sampana</a></li>
                            <li><a href="{{ path('zana_tsampana_index') }}">Zana-tsampana</a></li>
                            <li><a href="{{ path('sokajy_index', { 'type': 'vaomiera' }) }}">Vaomiera</a></li>
                            <li><a href="{{ path('sokajy_index', { 'type': 'biraompiangonana' }) }}">Biraom-piangonana</a></li>
                            <li><a href="{{ path('sokajy_index', { 'type': 'komity' }) }}">Komity</a></li>
                            <li><a href="{{ path('sokajy_index', { 'type': 'fikambanana' }) }}">Fikambanana</a></li>
                        </ul>
                    </li>
                    
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-link"></i> <span>Articles</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('article_index', { 'type': 'fampianarana' }) }}">Fampianarana</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'tetikasaanatiny' }) }}">Tetik'Asa anatiny</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'tetikasaivelany' }) }}">Tetik'Asa ivelany</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'tsiahy' }) }}">Tsiahy</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'rafitra' }) }}">Rafitra</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'tongasoa' }) }}">Tongasoa</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'evenement' }) }}">Evenement</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'toritenyalahady' }) }}">Toriteny isak'alahady</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'dimyminitra' }) }}">5 minitra SA</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'fampianaranaisambolana' }) }}">Fampianarana isam-bolana</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'samihafa' }) }}">Samihafa</a></li>
                            <li><a href="{{ path('article_index', { 'type': 'evenement' }) }}">Evenement</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href=" {{ path('personne_index') }} ">
                            <i class="fa fa-link"></i> <span>Personne</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href=" {{ path('album_index') }} ">
                            <i class="fa fa-link"></i> <span>Album Photo</span>
                        </a>
                    </li>
                </ul><!-- /.sidebar-menu -->
            </section>
        <!-- /.sidebar -->
        </aside>
      
        
        
        
        <div class="content-wrapper">
            {% block header %}
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {% block title %}
                            Page Header
                        {% endblock %}
                        
                        <small>Optional description</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                        <li class="active">Here</li>
                    </ol>
                </section>
            {% endblock %}

            
                <!-- Main content -->
            <section class="content">
                {% block body %}

              <!-- Your Page Content Here -->
                {% endblock %}
            </section><!-- /.content -->
            
        </div><!-- /.content-wrapper -->
        
        

        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Samy ho tahin'ny Tompo
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">FJKM Ivandry Firaisana</a>.</strong>
        </footer>

    </div><!-- ./wrapper -->
      
      
      
      
    {% block importJS %}
{#        {% javascripts output="js/compiled/backOffice.js"
                "@backBundle/Resources/public/plugins/jQuery/jQuery-2.1.4.min.js"
                "@backBundle/Resources/public/bootstrap/js/bootstrap.min.js"
                "@backBundle/Resources/public/dist/js/app.min.js"
        %}
            <script src="{{ asset_url }}" charset="utf-8"></script>
            
            {% block personalJS %}
            

            {% endblock %}
            
        {% endjavascripts %}#}
        <script src="{{ asset('js/compiled/backOffice.js') }}" charset="utf-8"></script>
    {% endblock %}
    
    {% block JSPerso %}
    
    {% endblock %}
 
  </body>
</html>